<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chesssy</title>
    <link rel="stylesheet" href=<%=url%>/css/output.css>
</head>

<body class=" h-screen w-full bg-zinc-900">
    <nav class=" p-3 bg-emerald-600 flex justify-between text-white items-center">
        <a href="/" class=" text-3xl font-bold mx-10 hover:text-4xl duration-100">Chesssy</a>
        <div class="flex gap-5 mx-5">
            <a class="hover:font-bold duration-100" href="/">Home</a>
            <a class="hover:font-bold duration-100" href="/">Contact</a>
            <a class="hover:font-bold duration-100" href="/">About US</a>
        </div>
    </nav>
    <main class="flex justify-center my-5 text-white">
        <div>
            <h1 class=" text-3xl"> Welcome Player</h1>
            <a class=" flex justify-center" href="/game"><button class=" bg-blue-500 rounded-3xl m-2 p-2 font-bold">Let's Play</button></a>
            <a class=" flex justify-center" href="/register"><button class=" bg-blue-500 rounded-3xl m-2 p-2 font-bold">Register</button></a>
            <a class=" flex justify-center" href="/login"><button class=" bg-blue-500 rounded-3xl m-2 p-2 font-bold">Login</button></a>
        </div>
    </main>
</body>

</html>